.advanced-menu {

  border-top: 1px solid @brand-primary;

  .teaser--image {
    .unitize-height(278);
  }

  .button-container{
    padding:0;
  }

  .item--level-0 {
    .unitize(padding-bottom, 8);
  }

  .menu--list-item-link:hover{
    .unitize-padding(5, 0, 5, 0) !important;
  }
}

@media screen and (min-width: @desktopViewportWidth) {
  .advanced-menu {

    width:100%;
    background:none;
    box-shadow:none;

    .menu--container{
      width:75%;
      background: #fff none repeat scroll 0 0;
      .box-shadow(0 10px 25px -15px #000);
    }

    .margin--menu--5, .margin--menu--6, .margin--menu--7, .margin--menu--8{
      margin-left:25%;
    }

    .content--wrapper {
      .unitize-margin(0, 8, 40, 8);
      .unitize-padding(0,0,15,0);
    }
  }
}